* {
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 1, 41);
	margin: 0;
	color: white;
	height: 100vh;
	min-height:100vh;
	display:flex;
	flex-direction:column;
    justify-content:space-between;
}
.header-container {
	background-color: rgb(17, 49, 77);
}
/* .comp-container {
	background-color: aquamarine;
} */
/* .middle-container {
	background-color: antiquewhite;
} */
/* .player-container {
	background-color: cadetblue;
} */
.footer-container {
	background-color: rgb(0, 0, 0);
}



.main {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.content > div {
	display: flex;
	justify-content: center;
}

div {

	width: 100%;

}

.header {
	text-align: center;
	font-family: 'Silkscreen', cursive;
}

.section {
	width: 70%;
	border: 0.1px solid rgba(255, 81, 0, 0.493);
	display: flex;
	align-items: center;
	justify-content: center;
}

.comp, .player {
	display: flex;
	padding: 30px;
	align-items: center;
	justify-content: space-around;
}
.comp > div, .player > div {
	width: 100px;
	height: 100px;

}

.comp img, .player img {
	width: inherit;
	height: inherit;
}

.vs {
	width: 200px;
	height: 200px;
}

